.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.urlInput {
  height: 40px;
  padding: 12px;
  width: 100%;
  border-radius: 8px 0px 0px 8px;
  border: none;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 500px;
  max-width: 100%;
  padding: 16px 0px;
}

.urlButton {
  padding: 0px 12px;
  border-radius: 0px 8px 8px 0px;
  height: 40px;
}
