.container {
  padding: 16px;
  border: 1px solid white;
  border-radius: 8px;
  width: 500px;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-height: 110px;
  justify-content: center;
  align-items: center;
}

.embedImage {
  border-radius: 8px;
  max-width: 100% !important;
  height: auto !important;
}

.tweetText {
  opacity: 0.8;
  overflow-wrap: anywhere;
}
